*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------Navigation---------------*/
header{
margin: 50px;
    background-color: rgb(255, 255, 255);
display: flex
    
}


#logo{


}


.immagine{
    object-fit: cover;
    position:relative;
}

.middlebar{
padding: 20 14 2;
display: flex;
justify-content: space-between 24px;

}
select{
background-color: red;
margin-left: 50px;

outline: none;
list-style: none;
border: hidden;
display: flex;
align-items: center;

}
.rightbar{
    text-align: center;
    align-items: center;
    display: flex;
    margin-left: 450px;
}
.rightbar a{
color: black;
    text-decoration: none;
    display: flex;
    
}

.signup{
    
    display: flex;
    color: black;
    border: 3px solid rgb(26, 26, 170);
    background-color: rgb(28, 28, 180);
border-radius: 25px;
}